
body {
  background-color: #e1ffee;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width:30px;

}